@import 'slider';

.limit-manager {
  border: 1px solid $border-color;
  height: 567px;
  width: 320px;
  text-align: center;

  &__header-title {
    border-bottom: 1px solid $border-color;
    color: $greyish-brown;
    font: #{$font-size-small + '/50px'} $helvetica-neue-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__limit-amount {
    color: $clear-blue;
    font: $font-size-large $helvetica-neue-bold;
    text-align: right;
    width: 120px;

    &-wrapper {
      border-bottom: 2px dotted $light-blue-grey;
      margin: 160px auto 7px;
      width: 248px;
    }

    &-placeholder {
      font: $font-size-large $helvetica-neue-regular;
    }
  }

  &__available-limit-placeholders {
    font: $font-size-medium $helvetica-neue-regular;
    text-align: center;

    b {
      font-family: $helvetica-neue-bold;
    }
  }

  &__limit-slider {
    &-labels {
      display: inline-block;
      font: $font-size-medium $helvetica-neue-regular;
      margin-top: 10px;
      width: 100%;

      &-min {
        float: left;
        margin-left: 15px;
      }

      &-max {
        float: right;
        margin-right: 15px;
      }
    }
  }

  &__save-button {
    background-color: $cerulean-blue;
    border-radius: 25px;
    color: $white;
    cursor: pointer;
    font: #{$font-size-small + '/45px'} $helvetica-neue-bold;
    letter-spacing: 2px;
    margin-top: 30px;
    text-transform: uppercase;
    width: 85%;
  }
}
